<div class="d-flex mb-3 justify-content-between sticky">
  <div>
    <h4 class="title">asdasdasd</h4>
  </div>
  <div class="actions-header"></div>
</div>
<div class="row">
  <div
    *ngFor="let item of lista; let i = index"
    [ngClass]="item.classe ? item.classe : classe"
  >
    <div *ngIf="item.tipo == 'inputtext'">
      <adv-inputtext
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
      ></adv-inputtext>
    </div>

    <div *ngIf="item.tipo == 'inputnumber'">
      <adv-inputnumber
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
      ></adv-inputnumber>
    </div>

    <div *ngIf="item.tipo == 'inputmask'">
      <adv-inputmask
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
        [mascara]="item.mascara"
      ></adv-inputmask>
    </div>

    <div *ngIf="item.tipo == 'inputdocumento'">
      <adv-inputdocumento
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
      ></adv-inputdocumento>
    </div>

    <div *ngIf="item.tipo == 'daterange'">
      <adv-daterange
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
        [valorFinal]="item.valorFinal"
      ></adv-daterange>
    </div>

    <div *ngIf="item.tipo == 'inputtextrange'">
      <adv-inputtextrange
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
        [valorFinal]="item.valorFinal"
      ></adv-inputtextrange>
    </div>
  </div>
</div>
