<div class="body">
  <div class="d-flex mb-3 justify-content-between">
    <div>
      <h3 class="title">{{ titulo }}</h3>
    </div>
    <div class="actions-header">
      <button type="button" class="btn btn-outline-primary disabled">
        <i class="fa-sharp fa-solid fa-arrow-up-from-bracket"></i>Importar
      </button>
      <button type="button" class="btn btn-primary teste">
        <i class="fa-sharp fa-solid fa-plus"></i>Novo
      </button>
    </div>
  </div>
  <hr />
  <ng-content></ng-content>
</div>
