<div class="d-flex mb-3 justify-content-between align-items-center">
  <div>
    <h4 class="title mb-0">
      {{ operacao ? (operacao | titlecase) + " de " : "" }}{{ titulo }}
    </h4>
  </div>
  <div class="actions-header">
    <button
      type="button"
      class="near_botao near_secondary"
      (click)="cancelar($event)"
    >
      <i class="fa-sharp fa-solid fa-xmark"></i>
      Cancelar
    </button>
    <button
      type="button"
      class="near_botao near_primary"
      (click)="salvar($event)"
    >
      <i class="fa-sharp fa-solid fa-save"></i>
      Salvar
    </button>
  </div>
</div>
<hr />
<ng-content></ng-content>

<!-- <div class="row">
  <div
    *ngFor="let item of listaCampos; let i = index"
    [ngClass]="item.classe ? item.classe : classe"
  >
    <div *ngIf="item.tipo == 'inputtext'">
      <near-text
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
      ></near-text>
    </div>

    <div *ngIf="item.tipo == 'inputnumber'">
      <near-number
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
      ></near-number>
    </div>

    <div *ngIf="item.tipo == 'inputmask'">
      <near-mask
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
        [mascara]="item.mascara"
      ></near-mask>
    </div>

    <div *ngIf="item.tipo == 'inputdocumento'">
      <near-documento
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
      ></near-documento>
    </div>

    <div *ngIf="item.tipo == 'daterange'">
      <near-daterange
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
        [valorFinal]="item.valorFinal"
      ></near-daterange>
    </div>

    <div *ngIf="item.tipo == 'inputtextrange'">
      <near-textrange
        [nome]="item.nome"
        [desabilitar]="item.desabilitar"
        [valorInicial]="item.valorInicial"
        [valorFinal]="item.valorFinal"
      ></near-textrange>
    </div>
  </div>
</div> -->
