<label [for]="identificador" class="class_label">{{ nome }}</label>
<div class="row">
  <div class="w-50 pr-0">
    <input
      type="date"
      [id]="identificador"
      class="range left"
      [disabled]="desabilitar"
      (input)="onChangeInicial($event)"
      [(value)]="valorInicial"
    />
  </div>
  <div class="w-50 pl-0">
    <input
      type="date"
      class="range right"
      [min]="valorInicial"
      (input)="onChangeFinal($event)"
      [class.disabled]="desabilitar"
      [disabled]="desabilitar"
      [(value)]="valorFinal"
    />
  </div>
</div>
