.sidenav {
  min-width: 21vw;
  height: 100vh;

  .sidenav_first_column {
    border: 1px solid #f0eff4;
    padding: 15px 5px 0 5px;
    display: flex;
    justify-content: center;
    background-color: #f9fbfc;
    .logo {
      width: 50px;
      height: 50px;
      border: 1px solid #f0eff4;
      border-radius: 5px;
      background-color: #2c8fe6;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .sidenav_second_column {
    padding: 1rem;
    a {
      span {
        padding-top: 3rem;
      }
    }
  }
}

.nav-link {
  font-weight: 600;
  color: #3c3f44;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f2f7fa !important;
  color: black;
}

.disabled {
  cursor: none;
  color: rgb(179, 179, 179);
  font-weight: 400;
}
ul {
  .button_accordion {
    text-align: left;
    width: 100%;
    justify-content: space-between;
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
  }
}

.hide {
  display: none;
}
