<!-- <div class="d-flex align-items-end flex-column sidebar" [ngClass]="{}">
  <div class="p-2 header">
    <h1 class="title">Oi</h1>
    <button (click)="handleSidebarToggle()">
      <i class="fa-solid fa-droplet title-icon"></i>
    </button>
  </div>
  <div class="p-2 content">
    <div *ngFor="let item of navs" class="content-item">
      <div class="title">{{ item.nome }}</div>
      <i class="fa-regular fa-comments icon"></i>
    </div>
  </div>
  <div class="mt-auto p-2 actions">Flex item</div>
</div> -->
<div class="d-flex flex-column sidenav flex-shrink-0 p-3 text-white bg-dark">
  <a
    [href]="navs[0].path"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let item of navs">
      <a
        class="nav-link"
        [routerLink]="[item.path]"
        [class.disabled]="item.disabled ? false : true"
        [routerLinkActive]="['active']"
        aria-current="page"
      >
        {{ item.nome }}
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Paulo</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
