<div class="d-flex align-items-stretch sidenav">
  <div class="sidenav_first_column">
    <div class="logo">image</div>
  </div>
  <div class="sidenav_second_column w-100">
    <a
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
    >
      <span class="fs-4">Sidebar</span>
    </a>
    <hr />

    <ul *ngFor="let e of navs" class="nav nav-pills flex-column mt-4 mb-auto">
      <div class="d-flex justify-content-between">
        <button class="button_accordion" (click)="e.ativo = !e.ativo">
          <span>{{ e.titulo }}</span>
          <i *ngIf="e.ativo" class="fa-solid fa-minus"></i>
          <i *ngIf="!e.ativo" class="fa-solid fa-plus"></i>
        </button>
      </div>

      <li
        class="nav-item"
        [ngClass]="!e.ativo ? 'hide' : ''"
        *ngFor="let item of e.children"
      >
        <a
          class="nav-link"
          [routerLink]="[item.path]"
          [class.disabled]="item.disabled ? false : true"
          [routerLinkActive]="['active']"
          aria-current="page"
        >
          {{ item.nome }}
        </a>
      </li>
    </ul>
  </div>
</div>
