<div class="d-flex align-items-stretch sidenav">
  <div class="sidenav_first_column">
    <div class="d-flex flex-column">
      <a class="itens logo"
        ><img src="../../../assets/images/nearhub2.png" alt=""
      /></a>

      <hr />
      <!--
      <button
        class="itens modules_icons"
        *ngFor="let item of menu"
        [ngClass]="item.ativo ? '' : 'disabled'"
      >
        <i class="fa-solid fa-xl" [ngClass]="item.icone"></i>
      </button> -->

      <hr class="mt-auto" />
      <button class="itens modules_icons">
        <i class="fa-solid fa-gears fa-xl"></i>
      </button>
    </div>
  </div>

  <div class="sidenav_second_column w-100">
    <a
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
    >
      <span class="fs-4">Near Hub</span>
    </a>
    <hr />
    <ngb-accordion #acc="ngbAccordion" *advValidateModule="let e of menu">
      <!-- <ngb-panel   [title]="e.titulo">
        <ng-template ngbPanelContent>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item" *ngFor="let item of e.children">
              <a
                class="nav-link"
                [routerLink]="[item.path]"
                [class.disabled]="item.ativo ? false : true"
                [routerLinkActive]="['active']"
                aria-current="page"
              >
                {{ item.nome }}
              </a>
            </li>
          </ul>
        </ng-template>
      </ngb-panel> -->
    </ngb-accordion>
  </div>
</div>
