.sidenav {
  min-width: 21vw;
  height: 100vh;
  border: 1px solid var(--border-menu);
  box-shadow: 2px 0px 4px var(--border-menu);

  .sidenav_first_column {
    border-right: 1px solid var(--border-menu-first-menu);
    padding-top: 15px;
    min-width: 70px;
    max-width: 70px;
    display: flex;
    justify-content: center;
    background-color: var(--background-first-menu);

    .itens {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font);
      &.logo {
        border: 1px solid var(--black);
        img {
          border-radius: 12px;
          width: 50px;
          height: 50px;
        }
      }
      &.modules_icons {
        margin-bottom: 5px;
      }
      &.modules_icons:hover {
        background-color: #e0e0e0;
        transition: 0.4s ease-in-out;
      }
    }
  }

  .sidenav_second_column {
    padding: 1rem;
    background-color: var(--background-second-menu);
    a {
      text-decoration: none;
      .title {
        padding: 9.5px 0;
        color: var(--font);
      }
      &.item_menu {
        color: var(--font);
        font-size: 0.9rem;
        font-weight: 400 !important;
        padding-left: 0 !important;
      }
    }
  }
}

.nav-link {
  font-weight: 600;
  color: var(--font);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--background-item-active) !important;
  color: var(--font);
}

button {
  text-align: center;
  width: 100%;
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  &.disabled {
    cursor: default;
    fa-icon {
      color: var(--font-disabled) !important;
    }
  }
}

ul li a {
  &.disabled {
    cursor: none;
    color: var(--font-disabled);
    font-weight: 400;
  }
}

::ng-deep .accordion {
  .accordion-item {
    background-color: transparent;
    border: 0px;
  }

  .accordion-button:not(.collapsed) {
    background-color: transparent;
    padding: 5px 12px;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--font);
  }

  .accordion-button {
    font-size: 0.9rem;
    font-weight: 400 !important;
    padding-left: 0 !important;
  }

  .accordion-body {
    border: none;
    padding: 0;
  }

  .accordion-button {
    padding: 5px 12px;
    box-shadow: none;
    font-weight: 700;
    color: var(--font);
    background-color: transparent;
  }
}
