.sidenav {
  min-width: 21vw;
  height: 100vh;

  .sidenav_first_column {
    border: 1px solid var(--border-menu);
    padding-top: 15px;
    min-width: 70px;
    max-width: 70px;
    display: flex;
    justify-content: center;
    background-color: var(--background-first-menu);

    .itens {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font);
      &.logo {
        border: 1px solid var(--black);
      }
      &.modules_icons {
        margin-bottom: 5px;
      }
      &.modules_icons:hover {
        background-color: #e0e0e0;
        transition: 0.4s ease-in-out;
      }
    }
  }
  .sidenav_second_column {
    padding: 1rem;
    background-color: var(--background-second-menu);
    a {
      span {
        padding-top: 3rem;
        color: var(--font);
      }
    }
  }
}

.nav-link {
  font-weight: 600;
  color: var(--font);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--background-item-active) !important;
  color: var(--font);
}

.disabled {
  cursor: none;
  color: var(--font-disabled);
  font-weight: 400;
}

button {
  text-align: center;
  width: 100%;
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  i {
    color: var(--black);
  }
}

::ng-deep .accordion {
  .accordion-item {
    background-color: transparent;
    border: 0px;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    padding: 5px 12px;
    font-weight: 700;
    color: var(--font);
  }
  .accordion-body {
    border: none;
    padding: 0;
  }

  .accordion-button {
    padding: 5px 12px;
    box-shadow: none;
    font-weight: 700;
    color: var(--font);
    background-color: transparent;
  }
}
