<near-listagem
  *ngIf="operacao == 'listagem'"
  [titulo]="titulo"
  [operacao]="operacao"
  (novoEvent)="novo($event)"
></near-listagem>

<near-formulario
  *ngIf="operacao == 'cadastro' || operacao == 'editar'"
  [titulo]="titulo"
  [operacao]="operacao"
>
  <!-- prettier-ignore -->

  <div class="row">
    <div [class]="filtro.funcao == 'Advogado' ? 'col-lg-3 col-md-6 col-sm-12' : 'col-lg-6 col-md-6 col-sm-12'">
      <near-text nome="Nome Completo" identificador="nome"></near-text>
    </div>
    <div [class]="filtro.funcao == 'Advogado' ? 'col-lg-3 col-md-6 col-sm-12': 'col-lg-6 col-md-6 col-sm-12'">
      <near-dropdown
        nome="Função"
        [opcoes]="opcoesCargo"
        (valor)="filtro.funcao = $event">
      </near-dropdown>
    </div>

    <div
      class="col-lg-3 col-md-6 col-sm-12"
      *ngIf="filtro.funcao == 'Advogado'"
    >
      <near-number nome="Número da OAB" identificador="oab"></near-number>
    </div>

    <div
      class="col-lg-3 col-md-6 col-sm-12"
      *ngIf="filtro.funcao == 'Advogado'"
    >
      <near-dropdown
        nome="Estado da OAB"
        [opcoes]="opcoesEstadoOab.estados"
      ></near-dropdown>
    </div>
  </div>
</near-formulario>
