<section>
  <div class="row vh-100 m-0">
    <div
      class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center"
    >
      <div class="body-login">
        <h3 class="titulo">Bem vindo ao Adv System</h3>
        <span>Acesse sua conta</span>
        <form [formGroup]="formulario">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              required
              placeholder="E-mail"
              aria-label="E-mail"
            />
          </div>

          <div class="input-group mb-3">
            <input
              type="password"
              required
              class="form-control"
              formControlName="senha"
              placeholder="Senha"
              aria-label="Senha"
            />
          </div>
        </form>
        <button type="button" class="btn btn-primary w-100" (click)="acessar()">
          Acessar
        </button>
        <p class="pt-2">Esqueceu a senha?<a href="#"> Clique aqui!</a></p>
      </div>
    </div>
    <div
      style="background-color: #303749; color: white"
      class="col-lg-7 col-md-12 d-flex justify-content-center align-items-center"
    ></div>
  </div>
</section>
