<section>
  <div class="row vh-100">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      b
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card_login">
        <h2>Adv System</h2>
        <ul
          ngbNav
          #nav="ngbNav"
          class="nav-tabs"
          (navChange)="onNavChange($event)"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink>Login</a>
            <ng-template ngbNavContent>
              <span>Acesse o portal utilizando as suas credenciais</span>
              <div class="my-3">
                <label class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="E-mail"
                  aria-label="E-mail"
                />
              </div>
              <div class="mb-0">
                <label class="form-label">Senha</label>
                <input
                  [type]="visualizarSenha ? 'text' : 'password'"
                  class="form-control"
                  required
                  placeholder="Senha"
                  aria-label="Senha"
                />
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (click)="changeCampoSenha($event)"
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Exibir senha
                </label>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="2">
            <a ngbNavLink>Cadastre-se</a>
            <ng-template ngbNavContent>
              <span>Cadastre-se no portal </span>
              <div class="my-3">
                <label class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="E-mail"
                  aria-label="E-mail"
                />
              </div>

              <div class="my-3">
                <label class="form-label">Celular</label>
                <input
                  type="number"
                  [required]="exibirBotaoCancelar"
                  class="form-control"
                  placeholder="Celular"
                  aria-label="Celular"
                />
              </div>

              <div class="mb-0">
                <label class="form-label">Senha</label>
                <input
                  [type]="visualizarSenha ? 'text' : 'password'"
                  class="form-control"
                  required
                  placeholder="Senha"
                  aria-label="Senha"
                />
              </div>

              <div class="form-check" *ngIf="exibirBotaoCancelar">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (click)="changeCampoSenha($event)"
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Exibir senha
                </label>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <div class="actions">
          <button
            class="near_botao botao_acessar w-100"
            (click)="confirmar(nav)"
          >
            {{ textoBotao }}
          </button>

          <button
            *ngIf="exibirBotaoCancelar"
            (click)="nav.select(1); cancelar()"
            class="near_botao botao_cancelar w-100"
          >
            Cancelar
          </button>

          <p class="mt-3" *ngIf="!exibirBotaoCancelar">
            Esqueceu a senha?
            <strong><a>Clique aqui</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
