@import "node_modules/bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

$px-3: 3px;
$w-100: 100%;
$w-50: 50%;

// :root {
//   --black: #121927;
//   --white: #fff;
//   --silver: #c0c0c0;

//   --border-menu: #121927;
//   --border-menu-first-menu: #3d436c;

//   --background-first-menu: #121927;
//   --background-second-menu: #121927;
//   --background-item-active: #313642;
//   --background-content: #1f2f4e;

//   --font: #f2f7fa;
//   --font-disabled: #cbcbcb;
// }
:root {
  --black: #10141d;
  --white: #fff;
  --silver: #c0c0c0;

  --color-hr: #c3c3c3;

  --border-menu: #dbdbdb;
  --border-button: #dbdbdb;

  --background-first-menu: #fbfbfb;
  --background-second-menu: #fff;
  --background-button-primary: #0e2b78;
  --background-button-secondary: #fff;
  --background-content: #fff;

  --font: #0e2b78;
  --font-primary: #fff;
  --font-secondary: #0e2b78;
  --font-disabled: #b3b3b3;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  .title {
    font-weight: 600;
    color: var(--font) !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
}

img .img-login {
  width: 100px;
  height: 100px;
}

input,
select {
  width: $w-100;
  margin-bottom: 19px;
  padding: 5px 10px;
  border-radius: $px-3;
  border: 1px solid var(--silver);
}

label .class_label {
  padding-left: 5px;
  margin-bottom: 2px;
}

.range {
  &.left {
    border: 1px solid var(--silver);
    border-radius: $px-3 0px 0px $px-3;
    border-right: none;
  }
  &.right {
    border: 1px solid var(--silver);
    border-radius: 0px $px-3 $px-3 0px;
  }
}

.near_botao {
  padding: 8px 35px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  i {
    &.near_primary {
      color: var(--font-secondary);
    }
    &.near_secondary {
    }
    margin-right: 10px;
  }

  &.near_primary {
    background-color: var(--background-button-primary);
    color: var(--font-primary);
    border: 1px solid var(--border-button);
  }

  &.near_secondary {
    background-color: var(--background-button-secondary);
    color: var(--font-secondary);
    border: 1px solid var(--font-secondary);
  }
}
.actions-header {
  display: flex;
  button {
    margin-left: 1rem;
  }
}

.header_sticky {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}
