@import "node_modules/bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

$px-3: 3px;
$w-100: 100%;
$w-50: 50%;

// :root {
//   --black: #121927;
//   --white: #fff;
//   --silver: #c0c0c0;

//   --border-menu: #121927;
//   --background-first-menu: #121927;
//   --background-second-menu: #121927;
//   --background-item-active: #313642;
//   --font: #f2f7fa;
//   --font-disabled: #cbcbcb;
// }
:root {
  --black: #121927;
  --white: #fff;
  --silver: #c0c0c0;
  --border-menu: #f0eff4;
  --background-first-menu: #f0eff4;
  --font-disabled: #b3b3b3;
  --font-link: #3c3f44;
  --font-link-active: #f2f7fa;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  h1 {
    .title {
      font-weight: 900;
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
}
img .img-login {
  width: 100px;
  height: 100px;
}

input {
  width: $w-100;
  margin-bottom: 19px;
  padding: 5px 10px;
}

label .class_label {
  padding-left: 5px;
  margin-bottom: 2px;
}

input {
  border-radius: $px-3;
  border: 1px solid var(--silver);
}

.range {
  &.left {
    border: 1px solid var(--silver);
    border-radius: $px-3 0px 0px $px-3;
    border-right: none;
  }
  &.right {
    border: 1px solid var(--silver);
    border-radius: 0px $px-3 $px-3 0px;
  }
}
